<% layout("/layouts/boilerplate")-%>
  <style>
    #filters{
        display:flex;
        flex-wrap:wrap;
    }
    .filter{
        text-align:center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
        opacity:1;
        cursor:pointer;
    }
    .filter p{
        font-size: 0.8rem;
    }
  </style>
    
    
        <!-- <h3>All Lisitings</h3> -->
        <!-- <form method="GET" action="/listings/new">
        <button>Create New List</button>
    </form> -->
    <!-- <form method="GET" action="/listings/search" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search listings..." name="query">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form> -->
    <div id="filters">
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i></div>  
            <p> Trending </p>   
        </div>

        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>  
              <p> Rooms </p>   
          </div>

          <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>  
              <p> iconic-cities </p>   
          </div>
  
          <div class="filter">
              <div><i class="fa-solid fa-chess-rook"></i></div>  
                <p> Castles </p>   
            </div>

            
          <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>  
              <p>Pools</p>   
          </div>

          <div class="filter">
            <div><i class="fa-solid fa-tent"></i></div>  
              <p>Camping </p>   
          </div>
  
          <div class="filter">
              <div><i class="fa-solid fa-cow"></i></div>  
                <p> Farms </p>   
            </div>

            
          <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>  
              <p>Arctic</p>   
          </div>


    </div>
        <!--"row-cols-lg-3 AND row-col-md-3" row and col pe large or medium size screen pe 3 cards dikhaye de -->
        <div class="row row-cols-lg-3  row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(let listing of allListings){%>

                <a href="/listings/<%=listing._id%>" class="listing-link">

                    <div class="card col listing-card">
                       
                        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                        <!-- card img overlay is used when we want to add some text on our cards -->
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                              <b> <%=listing.title%></b>
                              <br>
                                    
                              &#8377; <%= listing.price.toLocaleString("en-IN") %>
                            
                                   
                            </p>

                        </div>
                        
                    </div>
                </a>
                <%}%>
        </div>








    